
/* --------------------Global Reset---------------------- */
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"poppins";
    src: url("../css/font/Poppins/Poppins-Regular.ttf");
}

body{
    color: #333 ;
    font-size: 14px;
    font-family: "poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-image: url("../images/hero/services-bg.png");
    background-attachment: fixed;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* *{
    outline: 1px solid red;
} */

/* -----------------GLOBAL Reusable Classes--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section{
    padding: 80px 0;
}

.btn1{
    border: none;
    cursor: pointer;
    padding: 20px 45px;
    margin-top: 30px;
    background-color: rgb(41, 39, 39);
    color: white;
    font-size: 14px;
}

.btn1:hover{
    /* color: rgb(15, 15, 15); */
    background-color:#e85830;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/*------------------ Header Layout------------------ */


header{
    background-color:#272727 ;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.brand img{
    max-width: 170px;
}

.menu-toggle{
    background: none;
    border:none ;
    color: white;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    
}

.nav{
    display: none;
    position: absolute;
    top: 69px;
    right: 0;
    left: auto;
    /* width: 100%; */
}

.nav ul{
    display: flex;
    flex-direction: column;
    background-color: #272727;
    align-items: flex-end;

}

.nav a{
    display: block;
    padding: 16px 24px;
    color:white;
    text-decoration: none;
    text-align: right;
}

.nav.is-open{
    display: flex;

}

header a:hover{
    color: #f76d37;
}

header i:hover{
    color: #f76d37;
}

header img{
    margin: 10px;
    padding: 10px;
}

header i{
    padding: 29px 0;
    margin-right:30px ;
    color: white;
}


@media (min-width:1024px){
    .menu-toggle{
        display: none;
    }

    .nav{
        display: block;
        position: static;
        width: auto;
    }

    .nav ul{
        flex-direction: row;
        align-items: center;
        gap: 22px;
        background-color: transparent;
        font-size: 17px;
    }
}

/*----------------------- home section---------------------- */

#home{
    display: flex;
    background-image: url("../images/hero/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    min-height: 60vh;
    align-items: center;
    background-color: white;
}




.hero{
    max-width: 520px;
    
}

.hero-eyebrow{
    font-size: 34px;
    font-weight: 400;
    color:#1b1a1a;
    margin-bottom: 8px;
}

.hero-title{
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 16px;
}

.hero-description{
    font-size: 14px;
    color:#ffffff;
    margin-bottom: 32px;
}

.btn-primary{
    display: inline-block;
    padding: 14px 30px;
    background-color: #111;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: #e85830;
}


@media (min-width:768px) {
    .hero-title{
        font-size: 56px;
    }
    
    .hero-eyebrow{
        font-size: 40px;
    }

    .hero-description{
        font-size: 17px;
    }
} 

@media (min-width:1024px) {

    #home{
        min-height: 80vh;
    }
    .hero{
        display: flex;
        gap: 48px;  
        max-width: 100%;     
    }

    .hero-content{
        flex: 1;
    }

    .hero-title{
        font-size: 70px;
    }

    .hero-eyebrow{
        font-size: 55px;
    }

    .hero-description{
        font-size: 18px;
    }

    .hero-visual{
        flex: 1;
    }

}


/* ---------------------- About section----------------------- */

#about{
    background: white;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section_heading{
    font-size: 30px;
    color: #e85830;
    font-weight: bold;
    text-align: center;
    margin-bottom: 54px;
}

.about-image{
    display: flex;
    justify-content: center;
}

.about-image img{
    max-width: 330px;
    width: 100%;
}

.about-content{
    text-align: center;
    max-width: 100%;
}

.about-content p{
    line-height: 1.6;
    text-align: justify;

}


@media (min-width:768px){

    .section_heading{
        font-size: 40px;
    }

    .about-image img{
        max-width: 450px;
    }

    .about-content {
        max-width: 600px;
        font-size: 17px;
        margin: 0 auto;
    }
}

@media (min-width:1024px){
    
    .about-wrapper{
        flex-direction: row;
        gap: 42px;
    }

    .section_heading{
        font-size: 55px;
    }

    .about-content p{
        font-size: 18px;
        line-height: 1.9;
    }

    .about-image{
        flex: 1;
    }

    .about-content{
        flex: 1;
        text-align: left;
    }
}


/*----------------------------- Gallery section------------------------------ */

#gallery{
    background: white;
}
.gallery-description{
    text-align: justify;
    max-width: 700px;
    font-size: 1.6;
    margin: 0 auto 40px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.gallery-item{
    position: relative;
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
}

.gallery-item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.gallery-actions{
    margin-top: 48px;
    text-align: center;
}

@media (hover: hover){
    .gallery-item{
        transition: box-shadow 0.7s ease;
    }

    .gallery-item:hover{
        transform: scale(1.03);
    }

    .gallery-item:hover{
        box-shadow: 0 10px 30px rgba(0,0,0,0.9);
    }

    .gallery-item img:hover{
        background-image: url("../images/icons/search-icon.png");
    }
}

@media (min-width:768px){

    .gallery-description{
        font-size: 17px;
    }


    .gallery-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1024px){

    .gallery-description{
        font-size: 18px;
        line-height: 1.9;
    }

    .gallery-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/*------------------------------- Service section--------------------------------- */

#services .section_heading{
    color:#f76d37;
}

.service-description{
    color: #111;
    text-align: center;
    line-height: 1.6;
    margin: 0 auto 40px;
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.service-item{
    background-color:#f76d37;
    padding: 40px 24px;
    text-align: center;
}

.service-item img{
   max-width: 100px;
   margin-bottom: 20px;
}

.service-item h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #111;
}

.service-item p{
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 24px;
}

.service-item .btn1{
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease,transform 0.3s ease;
}

@media (hover: hover){
    .service-item{
        transition: transform 0.3s ease,box-shadow 0.3s ease;
    }

    .service-item:hover{
        background-color: whitesmoke;
        transform: translateY(-6px);
        box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    }

    .service-item:hover .btn1{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

}


@media (min-width:768px){

    .service-description{
        font-size: 17px;
    }

    .services-grid{
        grid-template-columns: 1fr 1fr;
    }

    .service-item{
        padding: 48px 32px;
    }

    .service-item img{
        max-width: 150px;
    }

    .service-item h3{
        font-size: 25px;
    }

    .service-item p{
        font-size: 17px;
    }
}

@media (min-width:1024px){

    .service-description{
        font-size: 18px;
        line-height: 1.9;
    }

    .services-grid{
        grid-template-columns:repeat(3,1fr);
    }

    .service-item{
        padding: 56px 32px;
    }

    .service-item img{
        max-width: 170px;
    }

    .service-item h3{
        font-size: 27px;
    }

    .service-item p{
        font-size: 18px;
    }
}




/*-------------------------------------------------- Testimonial section---------------------------------------------- */

#testimonial{
    background: white;
}

.testimonial-description{
    line-height: 1.6;
    margin: 0 auto 40px ;
    text-align: justify;
    max-width: 700px;
}

.testimonial-quote{
    max-width: 800px;
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
}

.testimonial-quote blockquote{
    margin: 0;
}

.testimonial-quote .quote p{

    font-size: 16px;
    line-height: 1.8;
    color: #444;
    margin-bottom: 24px;
}

.testimonial-quote .author{
    display: block;
    margin-top: 16px;
    text-align: right;
    font-style: normal;
    font-weight: 800;
    color: #e85830;
}

.testimonial-quote blockquote::before{
    content: "“";
    display: block;
    font-size: 48px;
    line-height: 1;
    color: #e85830;
    margin-bottom: 12px;
    text-align: left;
}

@media (min-width:768px){

    .section_heading{
        font-size: 40px;
    }

    .testimonial-description{
        font-size: 17px;
    }

    .testimonial-quote .quote p{
        font-size: 17px;
    }

    .testimonial-quote .author{
        font-size: 17px;
    }
}

@media (min-width:1024px){
    .section_heading{
        font-size: 55px;
    }

    .testimonial-description{
        font-size: 18px;
        line-height: 1.9;
        max-width: 800px;
        text-align: center;
    }

    .testimonial-quote .quote p{
        font-size: 18px;
        max-width: 900px;
    }

    .testimonial-quote .author{
        font-size: 18px;
    }
}



/*------------------------------ contact section-------------------------- */

#contact{
    padding: 0;
    background: white;
    
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
}

.contact-form{
    flex: 1;
    padding: 40px 24px;
    background-image: url("../images/gallery/img-9.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.contact-form input{
    padding: 10px 0;
    width: 100%;
}

.contact-form textarea{
    padding: 20px 10px;
    width: 100%;
}

.contact-btn{
    padding: 10px 20px;
}

.contact-map{
    flex: 1;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border: 2px solid #88655c;
}

@media (min-width:768px) {
    .contact-form input{
        padding: 20px;
    }

    .contact-form textarea{
        padding: 35px;
    }

    .contact-btn{
        padding: 20px 40px;
    }

    .contact-map iframe{
        min-height: 400px;
    }
}

@media (min-width:1024px){
    .contact-wrapper{
        flex-direction: row;
    }
}

/*------------------------------- footer section--------------------------------- */






