
/* --------------------Global Reset---------------------- */
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"poppins";
    src: url("../css/font/Poppins/Poppins-Regular.ttf");
}

body{
    color: #333 ;
    font-size: 14px;
    font-family: "poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    /* background-image: url("../images/hero/services-bg.png"); */
    background-attachment: fixed;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* *{
    outline: 1px solid red;
} */

/* -----------------GLOBAL Reusable Classes--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section{
    padding: 80px 0;
}

.btn1{
    border: none;
    cursor: pointer;
    padding: 20px 45px;
    margin-top: 30px;
    background-color: rgb(41, 39, 39);
    color: white;
    font-size: 14px;
}

.btn1:hover{
    /* color: rgb(15, 15, 15); */
    background-color:#e85830;
}

/*------------------ Header Layout------------------ */


header{
    background-color:#272727 ;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.brand img{
    max-width: 170px;
}

.menu-toggle{
    background: none;
    border:none ;
    color: white;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    
}

.nav{
    display: none;
    position: absolute;
    top: 69px;
    right: 0;
    left: auto;
    /* width: 100%; */
}

.nav ul{
    display: flex;
    flex-direction: column;
    background-color: #272727;
    align-items: flex-end;

}

.nav a{
    display: block;
    padding: 16px 24px;
    color:white;
    text-decoration: none;
    text-align: right;
}

.nav.is-open{
    display: flex;

}

header a:hover{
    color: #f76d37;
}

header i:hover{
    color: #f76d37;
}

header img{
    margin: 10px;
    padding: 10px;
}

header i{
    padding: 29px 0;
    margin-right:30px ;
    color: white;
}


@media (min-width:1024px){
    .menu-toggle{
        display: none;
    }

    .nav{
        display: block;
        position: static;
        width: auto;
    }

    .nav ul{
        flex-direction: row;
        align-items: center;
        gap: 22px;
        background-color: transparent;
        font-size: 17px;
    }
}

/*----------------------- home section---------------------- */

#home{
    display: flex;
    background-image: url("../images/hero/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    min-height: 60vh;
    align-items: center;
}




.hero{
    max-width: 520px;
    
}

.hero-eyebrow{
    font-size: 34px;
    font-weight: 400;
    color:#1b1a1a;
    margin-bottom: 8px;
}

.hero-title{
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 16px;
}

.hero-description{
    font-size: 14px;
    color:#ffffff;
    margin-bottom: 32px;
}

.btn-primary{
    display: inline-block;
    padding: 14px 30px;
    background-color: #111;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: #e85830;
}


@media (min-width:768px) {
    .hero-title{
        font-size: 56px;
    }
    
    .hero-eyebrow{
        font-size: 40px;
    }

    .hero-description{
        font-size: 17px;
    }
} 

@media (min-width:1024px) {

    #home{
        min-height: 80vh;
    }
    .hero{
        display: flex;
        gap: 48px;  
        max-width: 100%;     
    }

    .hero-content{
        flex: 1;
    }

    .hero-title{
        font-size: 70px;
    }

    .hero-eyebrow{
        font-size: 55px;
    }

    .hero-description{
        font-size: 18px;
    }

    .hero-visual{
        flex: 1;
    }

}


/* ---------------------- About section----------------------- */


.about-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section_heading{
    font-size: 30px;
    color: #e85830;
    font-weight: bold;
    text-align: center;
    margin-bottom: 54px;
}

.about-image{
    display: flex;
    justify-content: center;
}

.about-image img{
    max-width: 330px;
    width: 100%;
}

.about-content{
    text-align: center;
    max-width: 100%;
}

.about-content p{
    line-height: 1.6;
    text-align: justify;

}


@media (min-width:768px){

    .section_heading{
        font-size: 40px;
    }

    .about-image img{
        max-width: 450px;
    }

    .about-content {
        max-width: 600px;
        font-size: 17px;
        margin: 0 auto;
    }
}

@media (min-width:1024px){
    
    .about-wrapper{
        flex-direction: row;
        gap: 42px;
    }

    .section_heading{
        font-size: 55px;
    }

    .about-content p{
        font-size: 18px;
        line-height: 1.9;
    }

    .about-image{
        flex: 1;
    }

    .about-content{
        flex: 1;
        text-align: left;
    }
}


/*----------------------------- Gallery section------------------------------ */

.gallery-description{
    text-align: justify;
    max-width: 700px;
    font-size: 1.6;
    margin: 0 auto 40px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.gallery-item{
    position: relative;
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
}

.gallery-item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.gallery-actions{
    margin-top: 48px;
    text-align: center;
}

@media (hover: hover){
    .gallery-item{
        transition: box-shadow 0.7s ease;
    }

    .gallery-item:hover{
        transform: scale(1.03);
    }

    .gallery-item:hover{
        box-shadow: 0 10px 30px rgba(0,0,0,0.9);
    }

    .gallery-item img:hover{
        background-image: url("../images/icons/search-icon.png");
    }
}

@media (min-width:768px){
    .section_heading{
        font-size: 40px;
    }

    .gallery-description{
        font-size: 17px;
    }


    .gallery-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1024px){
    .section_heading{
        font-size: 55px;
    }

    .gallery-description{
        font-size: 18px;
        line-height: 1.9;
    }

    .gallery-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/*------------------------------- Service section--------------------------------- */

.service-description{
    text-align: center;
    line-height: 1.6;
}





/*-------------------------------------------------- Testimonial section---------------------------------------------- */

#testimonial{
    background-color: white;
    padding: 100px 0;
}

.testimonial-text{
    max-width: 800px;
}

.testimonial-text h2{
    font-size: 40px;
    font-weight: 900px;
    color: #f76d37;
}

.testimonial-text p{
    font-size: 17px;
    line-height: 1;
    padding: 20px 0;
}

.testimonial-quote{
    text-align: left;
    max-width: 1000px;
}

.testimonial-quote cite{
    font-size: 30px;
    font-style:inherit;
    color:#f76d37 ;
    font-weight: bolder;
}

.testimonial-quote p{
    font-size: 16px;
    line-height: 1.6;
}


/*------------------------------ contact section-------------------------- */

#contact{
    background-color: white;
    padding: 10px 0;
}

#contact h2{
    color: #f76d37;
    font-size: 40px;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 100px;
}

.contact-container{
    display: flex;
}

.contact-form{
    flex: 1;
    background-image:url("../images/gallery/img-9.png");
    text-align: center;
    padding: 20px;
}

.contact-form input{
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 90%;
}

.contact-form textarea{
    padding: 40px;
    border-radius: 40px;
    width: 100%;
    max-width: 90%;
}

.contact-form button{
    padding: 20px 60px;
    border-radius: 40px;
    background-color:#e85830;
    color: white;
    
}

.contact-form input,.contact-form textarea{
    margin: 10px auto;
}

.contact-map{
    flex: 1;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}

/*------------------------------- footer section--------------------------------- */

#footer{
    background-color: #272727;
    max-width: 100%;
    height: auto;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid-item{
    padding: 100px 0;
    color: white;
}

.footer-grid-item h3{
    font-size: 25px;
    padding-bottom: 25px;
}

.footer-grid-item p{
    line-height: 1.6;

}

.footer-grid-item a{
    display: block;
    color: white;
    font-size: 15px;
}




