
/* --------------------Global Reset---------------------- */
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"poppins";
    src: url("../css/font/Poppins/Poppins-Regular.ttf");
}

body{
    color: #333 ;
    font-size: 14px;
    font-family: "poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    /* background-image: url("../images/hero/services-bg.png"); */
    background-attachment: fixed;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* *{
    outline: 1px solid red;
} */

/* -----------------GLOBAL Reusable Classes--------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section{
    padding: 80px 0;
}

.btn1{
    border: none;
    cursor: pointer;
    padding: 20px 45px;
    margin-top: 30px;
    background-color: rgb(41, 39, 39);
    color: white;
    font-size: 14px;
}

.btn1:hover{
    color: rgb(15, 15, 15);
    background-color:rgb(228, 136, 103);
}

/*------------------ Header Layout------------------ */


header{
    background-color:#272727 ;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.brand img{
    max-width: 170px;
}

.menu-toggle{
    background: none;
    border:none ;
    color: white;
    font-size: 25px;
    cursor: pointer;
    
}

.nav{
    display: none;
    width: 100%;
    flex-direction: column;
    position: static;
   
}

.nav ul{
    display: flex;
    flex-direction: column;
    background: #272727;
}

.nav a{
    display: block;
    padding: 16px;
    color:white;
    text-decoration: none;
}

.nav.is-open{
    display: flex;

}





header a:hover{
    color: #f76d37;
}

header i:hover{
    color: #f76d37;
}

header img{
    margin: 10px;
    padding: 10px;
}

header i{
    padding: 29px 0;
    margin-right:30px ;
    color: white;
}




/*----------------------- home section---------------------- */

#home{
    display: flex;
    background-image: url("../images/hero/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    min-height: 60vh;
    align-items: center;
}




.hero{
    max-width: 520px;
    
}

.hero-eyebrow{
    font-size: 34px;
    font-weight: 400;
    color:#1b1a1a;
    margin-bottom: 8px;
}

.hero-title{
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 16px;
}

.hero-description{
    font-size: 14px;
    color:#ffffff;
    margin-bottom: 32px;
}

.btn-primary{
    display: inline-block;
    padding: 14px 30px;
    background-color: #111;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: #e85830;
}

@media (min-width:768px){
    .hero-title{
        font-size: 56px;
    }
    
    .hero-eyebrow{
        font-size: 40px;
    }

    .hero-description{
        font-size: 17px;
    }
}

@media (min-width:1024px){

    #home{
        min-height: 80vh;
    }
    .hero{
        display: flex;
        gap: 48px;  
        max-width: 100%;     
    }

    .hero-content{
        flex: 1;
        /* max-width: 560px; */
    }

    .hero-title{
        font-size: 70px;
    }

    .hero-eyebrow{
        font-size: 55px;
    }

    .hero-description{
        font-size: 18px;
    }

    .hero-visual{
        flex: 1;
    }
}




/* ---------------------- About section----------------------- */

#about{
    background-color: white;
    padding: 100px 0;
}

.about-container{
    display: flex;
    align-items: center;
    gap: 50px;   
}

.about-text{
    flex:1;
}

.about-image{
    flex: 1;
}

.about-image img{
    width: 100%;
    max-width: 500px;
}
.about-text h2{
    font-size: 40px;
    color:#f76d37 ;
    font-weight: bold;
}
.about-text p{
    font-size: 17px;
    margin-top: 15px;
}

/*----------------------------- Gallery section------------------------------ */

#gallery{
    background-color: white;
    padding: 100px 0;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.gallery-text{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.gallery-text h2{
     font-size: 40px;
     color:#f76d37 ;
     font-weight: 900;
     margin-bottom: 15px;
}

.gallery-text p{
    font-size: 17px;
    line-height: 1.6;
}

.gallery-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 100%;
}

.gallery-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.gallery-image img::before{
    
}

/*------------------------------- Service section--------------------------------- */

#services{
    background: transparent;
    padding: 100px 0;
    
}

#services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-text{
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    color: white;
}

.service-text h2{
    font-size: 40px;
    font-weight: 900px;
    /* color:white; */
}

.service-text p{
    font-size: 17px;
    line-height: 1;
}
.service-card-container{
    display: flex;
    gap: 10px;
    
}

.service-card-items{
    background-color: #f76d37;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 30px;
}

.service-card-items h3{
    font-size: 30px;
}
.service-card-items img{
    width: 100%;
    max-width: 50px;
    margin-top: 40px;
}

.service-card-items .btn1{
    display: none;
}

.service-card-items:hover{
    background-color: white;
    color: black;
}

.service-card-items:hover .btn1{
    display:inline-block;
}

/*-------------------------------------------------- Testimonial section---------------------------------------------- */

#testimonial{
    background-color: white;
    padding: 100px 0;
}

.testimonial-text{
    max-width: 800px;
}

.testimonial-text h2{
    font-size: 40px;
    font-weight: 900px;
    color: #f76d37;
}

.testimonial-text p{
    font-size: 17px;
    line-height: 1;
    padding: 20px 0;
}

.testimonial-quote{
    text-align: left;
    max-width: 1000px;
}

.testimonial-quote cite{
    font-size: 30px;
    font-style:inherit;
    color:#f76d37 ;
    font-weight: bolder;
}

.testimonial-quote p{
    font-size: 16px;
    line-height: 1.6;
}


/*------------------------------ contact section-------------------------- */

#contact{
    background-color: white;
    padding: 10px 0;
}

#contact h2{
    color: #f76d37;
    font-size: 40px;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 100px;
}

.contact-container{
    display: flex;
}

.contact-form{
    flex: 1;
    background-image:url("../images/gallery/img-9.png");
    text-align: center;
    padding: 20px;
}

.contact-form input{
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 90%;
}

.contact-form textarea{
    padding: 40px;
    border-radius: 40px;
    width: 100%;
    max-width: 90%;
}

.contact-form button{
    padding: 20px 60px;
    border-radius: 40px;
    background-color:#e85830;
    color: white;
    
}

.contact-form input,.contact-form textarea{
    margin: 10px auto;
}

.contact-map{
    flex: 1;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}

/*------------------------------- footer section--------------------------------- */

#footer{
    background-color: #272727;
    max-width: 100%;
    height: auto;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid-item{
    padding: 100px 0;
    color: white;
}

.footer-grid-item h3{
    font-size: 25px;
    padding-bottom: 25px;
}

.footer-grid-item p{
    line-height: 1.6;

}

.footer-grid-item a{
    display: block;
    color: white;
    font-size: 15px;
}




